
/**
 *
 */
$title: 'Stacklane Status';

$ext: 'status';

$status-up: 'Fully Operational';
$status-down: 'Down';
$status-partial: 'Partially Unavailable';
$status-maint: 'Scheduled Maintenance';
$status-error: 'Error Checking Status';

$updating: 'Updating';

//$site24x7-groupId = 'groupId';