
$title: 'Stacklane Status';
$website: 'https://stacklane.com';

$ext: 'status';

$status-up: 'All Systems Operational';
$status-down: 'Systems Down';
$status-partial: 'Partially Unavailable';
$status-maint: 'Scheduled Maintenance';
$status-error: 'Error Checking Status';

$updating: 'Updating';

$start-year: '2017';
