/**
 * Literals
 */

$blue: #0c84cd;
$blue-light: #238cd6;
$blue-lighter: #409ce7;

$primary: $blue;
$info: $blue;

$black: #14171A;
$black-bis: #14171A;
$black-ter: #14171A;

$white: #ffffff;
$white-ter: #F5F8FA;
$white-bis: #F5F8FA;

$grey-darker: #2a3137;
$grey-dark: #414c56;
$grey: #657786;
$grey-light: #aab8c2;
$grey-lighter: #E1E8ED;
$grey-lightest: #F5F8FA;

/**
 * Scheme
 */

$scheme-main: $white-ter;
$scheme-main-ter: $white-ter;
$scheme-main-bis: $white-bis;

$scheme-invert: $black;
$scheme-invert-bis: $black-bis;
$scheme-invert-ter: $black-ter;

/**
 * Imports
 */

@import "/bulma/utilities/initial-variables";
@import "/bulma/utilities/functions";
@import "/bulma/utilities/derived-variables";

/**
 * Overrides
 */

$box-radius: $radius;
$box-shadow: 0px 0px 15px 0px rgba($black, 0.05);
$box-background-color: $white;
$box-border: 1px solid rgba($black,.1);
.box{ border: $box-border; }

$size-7: .8rem;

$body-size: 15px;

$table-background-color: transparent;

$code-background: inherit;
$code-size: inherit;
$code-weight: inherit;
$code-padding: 0;


