/**
 * Branding
 *
 * Bulma uses the grey-, black-, white- variations to drive many other settings.
 */

$blue: #0c84cd;
$blue-light: #238cd6;
$blue-lighter: #409ce7;

$primary: $blue;
$info: $blue;

$black: #14171A;
$black-bis: #14171A;
$black-ter: #14171A;

$white: #ffffff;
$white-ter: #F5F8FA;
$white-bis: #F5F8FA;

$grey-darker: #2a3137;
$grey-dark: #414c56;
$grey: #657786;
$grey-light: #aab8c2;
$grey-lighter: #E1E8ED;
$grey-lightest: #F5F8FA;

$shadow-color-for-body-background-only: rgba(#343d45 /* 25% darker than $grey-dark */, 0.1);

///

$scheme-main: $white-ter;
$scheme-main-ter: $white-ter;
$scheme-main-bis: $white-bis;

/**
 * Imports
 */

@import "/bulma/utilities/initial-variables";
@import "/bulma/utilities/functions";
@import "/bulma/utilities/derived-variables";


/**
 * More
 */

$article-block-spacing: 1rem;

$shadow-for-bg: $shadow-color-for-body-background-only;

$zindex-sticky: 39;

$boxed-radius: $radius;
$boxed-border: 1px solid rgba(0,0,0,.1);
$boxed-border-lighter: 1px solid rgba(0,0,0,.05);
$boxed-background: white !important;
$boxed-shadow:  0px 0px 15px 0px rgba(0, 0, 0, 0.05);

@mixin is-boxed {
  box-shadow: $boxed-shadow;
  border-radius: $boxed-radius;
  border: $boxed-border;
  background: $boxed-background;
}

/**
 * Overrides
 */

$size-7: .8rem;

$navbar-z: $zindex-sticky + 1;
$navbar-fixed-z: $navbar-z;
$navbar-height: 3.25rem;
$navbar-padding-vertical: 1rem;
$navbar-padding-horizontal: 1rem;
$navbar-breakpoint: 0px;
$navbar-total-height: $navbar-height + $navbar-padding-vertical + $navbar-padding-vertical;

$body-size: 15px;

$table-background-color: transparent;

$box-radius: $boxed-radius;
$box-shadow: $boxed-shadow;
$box-background-color: $boxed-background;
.box{ border: $boxed-border; }

$code-background: inherit;
$code-size: inherit;
$code-weight: inherit;
$code-padding: 0;


